{
  "semi": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "printWidth": 80,
  "endOfLine": "lf",
  "arrowParens": "always",
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-packagejson",
    "prettier-plugin-organize-attributes",
    "prettier-plugin-jsdoc"
  ],
  "jsdocSpaces": 1,
  "htmlWhitespaceSensitivity": "ignore",
  "attributeGroups": [
    "^(?::)?id$",
    "^(?::)?ref",
    "^(?::)?key",
    "^:is$",
    "^v-(?!loading$!if$!else$!else-if$!for$)",
    "^(?::)?model",
    "^(?::)?class$",
    "^(?::)?name$",
    "^(?::)?label$",
    "^(?::)?lang$",
    "^(?::)?src$",
    "^(?::)?type$",
    "^(?::)?href$",
    "^(?::)?value$",
    "^(?::)?title$",
    "^(?::)?alt$",
    "^(?::)?placeholder$",
    "$DEFAULT",
    "^(?::)?disabled$",
    "^(?::)?loading$",
    "^(?::)?src$",
    "^@"
  ],
  "attributeSort": "ASC"
}